# Puerto donde corre el servicio
PORT=3000

# Credenciales de Tai Loy
TAILOY_USER=20603116021
TAILOY_PASS=60014709

# URLs autorizadas para CORS (separadas por comas)
AUTHORIZED_ORIGINS=http://localhost:5173,http://localhost:3000,https://tudominio.com

# Node environment
NODE_ENV=development

# Modo Puppeteer
# true = Invisible (headless - para servidores)
# false = Visible (abre Chrome que ves en pantalla - para testing local)
HEADLESS=false
